/*---
layout: master.hbs
title: ASBRA - 2026 Event Calendar
subtitle: 2026 Calendar
description: The Official Website of ASBRA, the Aloha State Bicycle Racing Association.
activePage: calendar
head: |
  <link href="/style/calendar.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.3/moment.min.js"></script>
---*/
{{#each sections}}
  <section class="calendar-section {{css_classes}}">
    <h1>{{section_title}}</h1>
    <div class="calendar-section-contents">
    {{#each events}}
      <section id="{{id}}"
               class="event-details {{#if background}}image-background{{/if}} {{#if-not-equal type "race"}}non-race{{/if-not-equal}} {{css_classes}}"
               style="{{#if background}}background-image: url('/images/{{background}}'){{/if}}">
        <div>
          <div class="event-header">
            {{#if logo}}
              <img src="/images/{{logo}}" alt="{{name}} Logo" width="150" height="150" />
            {{/if}}
            <h2>{{#if link}}<a href="{{link}}">{{name}}</a>{{else}}{{name}}{{/if}}</h2>
          </div>
          <ul class="event-info">
            <li><span class="info-label">Date:</span> {{day}} {{date}}</li>

            {{#if time}}
              <li><span class="info-label">Time:</span> {{time}}</li>
            {{/if}}

            <li><span class="info-label">Location:</span> {{location}} ({{island}})</li>

            {{#if organizer}}
              <li class="event-info-extra"><span class="info-label">Organizer:</span> {{organizer}}</li>
            {{/if}}

            {{#if results}}
              <li class="event-info-extra"><a href="{{results}}">View Results</a></li>
            {{else if registration}}
              <li data-event-date="{{date}}" class="event-info-extra hide-past"><a href="{{registration}}">Register Now</a></li>
            {{/if}}
          </ul>
          {{#if description}}
            <p class="event-description">
              {{{description}}}
            </p>
          {{/if}}
          {{#if flyerLink}}
            <p class="event-flyer-link">
              <a href="{{flyerLink}}">Race Info Flyer 🖨</a>
            </p>
          {{/if}}
        </div>
      </section>
    {{/each}}
    </div>
  </section>
{{/each}}
<div id="calendar_qr_code_header" class="print-only calendar-qr-code">
  <p>asbra.org/calendar</p>
  <img src="/images/CalendarQRCode.svg" width="481" height="481" alt="A QR code linking to this webpage." />
</div>
<div id="calendar_qr_code_footer" class="print-only calendar-qr-code">
  <p>asbra.org/calendar</p>
  <img src="/images/CalendarQRCode.svg" width="481" height="481" alt="A QR code linking to this webpage." />
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let timeDependentDisplayElements = document.getElementsByClassName('hide-past');
    const now = moment();
    for (const elem of [...timeDependentDisplayElements]) {
      const eventDate = moment(elem.getAttribute('data-event-date'));
      if (eventDate.isAfter(now)) {
        elem.classList.remove('hide-past');
      }
    }
  });
</script>
