/*---
layout: master.hbs
title: Aloha State Bicycle Racing Association
description: The Official Website of ASBRA, the Aloha State Bicycle Racing Association.
activePage: home
head: |
  <link href="/style/index.css" rel="stylesheet" type="text/css">
---*/

<section id="welcome">
  <h1>Welcome</h1>
  <p>
    Welcome to the official homepage of the Aloha State Bicycle Racing Association (ASBRA), the Aloha State Bicycle Racing Association. It is our mission to promote and facilitate bicycle racing of all kinds throughout the state of Hawaii. In partnership with USA Cycling we seek to ensure bicycle racing in Hawaii is fun, safe, affordable, and competitive.
  </p>
</section>

<section id="sponsors">
  <h1>Thank you to our Sponsors!</h1>
  <div class="friend-logos">
   {{#each sponsors}}
     <a href="{{link}}" class="friend-link" target="_blank">
       <figure class="friend-tile">
         <div>
         <img src="{{logo}}" width="{{logoWidth}}" height="{{logoHeight}}" alt="{{name}}" />
         </div>
         <figcaption>{{name}}</figcaption>
       </figure>
     </a>
   {{/each}}
  </div>
  <p>
    ASBRA is 100% non-profit, volunteer operated, and donation funded. We would not be able to support local bike races or run our programs without the support of these sponsors as well as donations from members of the community. We would also to express our deep gratitude to individuals who have been generous enough to make donations.
  </p>
  <p>
    If you would like to support ASBRA financially please consider making a donation trough PayPal: <a href="https://www.paypal.com/donate/?hosted_button_id=93WYJFCWH888S" class="donate-button"><span>Donate</span></a>
  </p>
</section>

<section id="about">
  <h2>About ASBRA</h2>
  <p>
    The Aloha State Bicycle Racing Association (ASBRA) is a 501(c)(3) non-profit dedicated to serving the bicycle racing community in Hawaii since its founding in 2019.
  </p>
  <h3>What Does ASBRA Do?</h3>
  <ul>
    <li>Facilitate Race Director Coordination</li>
    <li>Publish Annual Event Calendar</li>
    <li>Promote Races with Digital and Print Marketing</li>
    <li>Provide Hawaii Specific Training and Resources to Race Directors</li>
    <li>Work with USAC to Promote and Improve Bicycle Racing in Hawaii</li>
  </ul>
  <h3>Who is ASBRA?</h3>
  <ul>
    <li>Josh Gallardo, President</li>
    <li>Kate Johnson, Vice President</li>
    <li>Carl Brooks, Treasurer</li>
    <li>Paul Wheeler, Secretary</li>
    <li>Chris Houghtling, Member At-large</li>
    <li>YOU, our gracious volunteers!</li>
  </ul>
  <a href="/files/ASBRA_Bylaws.pdf">ASBRA Bylaws</a>
</section>

<section id="links">
  <h2>Links</h2>
  <ul>
    <li>
      <a href="/calendar/" class="image-link calendar">Calendar</a>
    </li>
    <li>
      <a href="/resources/" class="image-link resources">Race Director Resources</a>
    </li>
    <li>
      <a href="/newsletter/" class="image-link newsletter">Newsletter</a>
    </li>
    <li>
      <a href="mailto:contact@asbra.org">Contact Us (contact@asbra.org)</a>
    </li>
  </ul>
</section>

<section id="usac">
  <h1>About USA Cycling</h1>
  <p>USA Cycling's mission is to develop the sport of cycling in the United States at all levels by bringing together cyclists, coaches, event promoters, community leaders, volunteers, and fans to form communities of those who want to see the sport of cycling prosper. We harness the passion so many have for cycling and turn it into opportunities for us all to enjoy the sport together.</p>
  <p>Being a member of USAC has numerous benefits. Your membership dollars support the sport of cycling. You will save money on license fees for individual events. You will get access to a variety of exclusive discounts for USAC members. You will have a voice in electing officers of your local association (ASBRA) as well as various USAC committees.</p>
  <a href="https://www.usacycling.org/memberships" class="usac-membership-link">Join Today</a>
</section>

<section id="sign_up">
  <h2>ASBRA Newsletter</h2>

  <p>Want to stay up to date with the latest Aloha State Bicycle Racing news announcements? Sign up for our newsletter and never miss a race, get timely post-race results, find out about cycling events in the community, and more. ASBRA will never share your information with a 3rd party organization, or contact you other than with information about bicycle races in the state of Hawaii. Unsubscribe at any time.</p>

  {{> signup}}
</section>
