/*---
layout: master.hbs
title: ASBRA - Hawaii Cycling Virtual Challenge Series
subtitle: HCVCS
description: The Official Website of ASBRA, the Aloha State Bicycle Racing Association.
activePage: virtual-challenge-series
head: |
  <link href="/style/index.css" rel="stylesheet" type="text/css">
  <link href="/style/virtual-challenge-series.css" rel="stylesheet" type="text/css">
---*/

<section id="header">
  <h1>&nbsp;</h1>
  <div id="banner_layout">
  <img src="/images/Hawaii%20Cycling%20Virtual%20Challenge%20Logo.png" width="719" height="518" alt="Hawaii Cycling Virtual Challenge" />
  <div class="sponsors-row">
    <a href="https://www.bikefactoryhawaii.com/" target="_blank">
      <img src="/images/sponsors/BIKEFACTORY%20Hawaii%20Logo.png" width="400" height="195" alt="BIKEFACTORY Hawaii" />
    </a>
    <a href="https://www.hitricenter.com/" target="_blank">
      <img src="/images/sponsors/Hawaii%20Triathlon%20Center%20Logo.png" width="400" height="160" alt="Hawaii Triathlon Center" />
    </a>
    <a href="https://www.bikeshophawaii.com/" target="_blank">
      <img src="/images/sponsors/The%20Bike%20Shop%20Logo.png" width="400" height="400" alt="The Bike Shop Hawaii" />
    </a>
  </div>
  <div class="sponsors-row">
    <a href="https://kalapawaimarket.com/" target="_blank">
      <img src="/images/sponsors/Kalapawai%20Market%20Logo.png" width="400" height="167" alt="Kalapawai Market" />
    </a>
    <a href="https://www.outtaboundshawaii.com" target="_blank">
      <img src="/images/sponsors/Outta%20Bounds%20Logo.png" width="400" height="400" alt="Outta Bounds Hawaii" />
    </a>
    <a href="https://www.tradewindcyclingteam.com/" target="_blank">
      <img src="/images/sponsors/Tradewind%20Logo.png" width="360" height="216" alt="Tradewind Cycling Team" />
    </a>
  </div>
  </div>
</section>

<section id="overall_standings">
  <h1>Overall Standings</h1>
  <div>
    <table class="results-table">
      <thead>
      <tr class="results-header table-header-row">
        <th>Place</th>
        <th>Name</th>
        <th>Points</th>
      </tr>
      </thead>
      <tbody>
        {{#sorted-each Overall "Name"}}
          <tr class="category-header table-header-row">
            <th colspan="3">{{Name}}</th>
          </tr>
          {{#sorted-each Results "Points" true}}
            <tr>
              <td>{{Place}}</td>
              <td>{{Name}}</td>
              <td>{{Points}}</td>
            </tr>
          {{/sorted-each}}
        {{/sorted-each}}
      </tbody>
    </table>
  </div>
</section>

{{#sorted-each Events "Date" true}}
  <section class="event-results">
    <h2>{{Name}}</h2>
    <div>
      <table class="results-table">
        <thead>
        <tr class="results-header table-header-row">
          <th>Place</th>
          <th>Name</th>
          <th>Time</th>
          <th>Points</th>
        </tr>
        </thead>
        <tbody>
          {{#sorted-each Categories "Name"}}
            <tr class="category-header table-header-row">
              <th colspan="4">{{Name}}</th>
            </tr>
            {{#sorted-each Results "Place"}}
              <tr>
                <td>{{Place}}</td>
                <td>{{Name}}</td>
                <td>{{Time}}</td>
                <td>{{Points}}</td>
              </tr>
            {{/sorted-each}}
          {{/sorted-each}}
        </tbody>
      </table>
    </div>
  </section>
{{/sorted-each}}
