<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>
    {{#if title}}
      {{title}}
    {{else if indirect}}
      {{#with (lookup . indirect)}}
        {{title}}
      {{/with}}
    {{/if}}
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="{{description}}">
  <meta name="robots" content="INDEX,FOLLOW">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="/images/favicon.png" rel="icon" type="image/png">
  <link href="/style/site.css" rel="stylesheet" type="text/css">
  <link href="/style/material-icons.css" rel="stylesheet" type="text/css">
  {{{head}}}
</head>
<body>
<header>
  <a href="/">
    <img src="/images/logo.svg" alt="Aloha State Bicycle Racing" height="150" width="150" />
  </a>
  {{#if subtitle}}
    <h1>{{subtitle}}</h1>
  {{else if indirect}}
    {{#with (lookup . indirect)}}
      {{#if subtitle}}
        <h1>{{subtitle}}</h1>
      {{/if}}
    {{/with}}
  {{else}}
    <h1 class="print-only">{{title}}</h1>
  {{/if}}
  <label for="show_menu" id="show_menu_label" class="material-icons">menu</label><input id="show_menu" type="checkbox" />
  <ul class="navigation">
    {{#if-not-equal activePage value="home"}}<li><a href="/">Home</a></li>{{/if-not-equal}}
    <li><a href="/#about">About</a></li>
    <li>
      {{#if-equal activePage value="calendar"}}
        Calendar
      {{else}}
        <a href="/calendar/">Calendar</a>
      {{/if-equal}}
    </li>
    <li>
      {{#if-equal activePage value="archive"}}
        Archive
      {{else}}
        <a href="/archive/2024/">Archive</a>
      {{/if-equal}}
    </li>
    <li>
      {{#if-equal activePage value="newsletter"}}
        Newsletter
      {{else}}
        <a href="/newsletter/">Newsletter</a>
      {{/if-equal}}
    </li>
    <li>
      {{#if-equal activePage value="point-series"}}
        Point Series
      {{else}}
        <a href="/point-series/">Point Series</a>
      {{/if-equal}}
    </li>
    <li>
      {{#if-equal activePage value="resources"}}
        Resources
      {{else}}
        <a href="/resources/" title="Race Director Resources">Resources</a>
      {{/if-equal}}
    </li>
  </ul>
</header>
<main>
{{{content}}}
  {{#if-not-equal activePage value="home"}}
  <section id="support">
    <h1>Support</h1>
    <p>
      ASBRA is 100% non-profit, volunteer operated, and donation funded. We would not be able to support local bike races or run our programs without the support of these sponsors as well as donations from members of the community. We would also to express our deep gratitude to individuals who have been generous enough to make donations.
    </p>
    <p>
      If you would like to support ASBRA financially please consider making a donation through PayPal: <a href="https://www.paypal.com/donate/?hosted_button_id=93WYJFCWH888S" class="donate-button">Donate</a>
    </p>
  </section>
  {{/if-not-equal}}
</main>
<footer>
  &copy; 2023 Aloha State Bicycle Racing Association
</footer>
</body>
</html>
